# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Local data
data/raw/
data/processed/

# OS / editor
.vscode/
.DS_Store
Thumbs.db
